{%- assign newsletter_form_id = 'newsletter-' | append: section_id -%}

{% form 'customer', id: newsletter_form_id %}

  {% if form.posted_successfully? %}
    <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
  {% endif %}

{% if form.errors and form.context == snippet_context %}
  {{ form.errors | default_errors }}
{% endif %}

  <label for="Email-{{ section_id }}" class="hidden-label">Email</label>
  <input type="hidden" name="contact[tags]" value="prospect,newsletter">
  <input type="hidden" name="contact[context]" value="{{ snippet_context }}">
  
  <div class="formGroup newsletter__input-group">
  
    <input class="formGroup__item" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Email address" name="contact[email]" id="Email-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
  
    <span class="formGroup__item">
      <button type="submit">
        Submit
      </button>
    </span>
  
  </div>

{% endform %}