{% comment %}
  Comparison
{% endcomment %}

<div class="comparison comparison--{{ section.id }}">

  <img class="comparison__background comparison__background--left" loading="lazy" src="{{ 'cannabis-leaves-backgorund.jpg' | asset_url }}" alt="Cannabis leaves" width="995" height="725">
  <img class="comparison__background comparison__background--right" loading="lazy" src="{{ 'cannabis-oil-backgorund.jpg' | asset_url }}" alt="Cannabis oil" width="710" height="710">


  {%- if section.settings.button_left_label != blank -%}
    <div class="comparison__heading">
      <h2>{{ section.settings.heading }}</h2>
    </div>
  {%- endif -%}

  <div class="comparison__wrap">
    {%- for block in section.blocks -%}
      <div class="comparison__wrap__item [ js-in-view ]" id="{{ block.id }}" onclick="toggleActive('{{ block.id }}')">
        <div class="comparison__wrap__item__heading">
          <h6>{{ block.settings.subheading }}</h6>
          <h4>{{ block.settings.heading }}</h4>
        </div>
        <div class="comparison__wrap__item__content">
          <p><b>Features:</v></p>
          <div class="comparison__wrap__item__content__list">
            {{ block.settings.content }}
          </div>
          {%- if block.settings.button_label != blank -%}
            <p>
              <a href="{{ block.settings.button_link }}" class="button button--yellow">{{ block.settings.button_label }}</a>
            </p>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
  
</div>

<script>
  window.addEventListener('scroll', onScroll);

  function onScroll() {
    for (var item of document.querySelectorAll('.js-in-view')) {
      elementVisible(item, 1000);
    }
  }

  function elementVisible(el,offset) {
    let top = el.offsetTop;
    let height = el.offsetHeight;
    let bottom = top + height;

    let IsOverBottom = top > (window.pageYOffset + window.innerHeight - offset);
    let IsBeforeTop = bottom < window.pageYOffset;

    if (!IsOverBottom && !IsBeforeTop) {
      el.classList.add('inView');
    }
  }
</script>

{% schema %}
{ 
  "name": "Comparison",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading (optional)"
    }
  ],
  "blocks": [
    {
      "type": "comparison_item",
      "name": "Comparison item",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "INITIAL CONSULTATION" 
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Starting at $35" 
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Each new line is a new element</p>" 
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Comparison",
      "blocks": [
        {
          "type": "comparison_item"
        },
        {
          "type": "comparison_item"
        },
        {
          "type": "comparison_item"
        }
      ]
    }
  ]
}   
{% endschema %}
  