<!-- -----------------------------------------------------------------
Header
------------------------------------------------------------------ -->
<header class="header">

    <div class="header__wrap">

        <!-- -----------------------------------------------------------------
        Secondary 
        ------------------------------------------------------------------ -->
        <div class="header__wrap__secondary">

            <div class="header__wrap__secondary__sites">
                <a href="https://pilldroppets.co.nz" class="header__wrap__secondary__sites__item">
                    <svg width="24" height="30" viewBox="0 0 24 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M11.864 1C5.857 1 1 5.857 1 11.906c0 1.577.426 3.238.895 4.388 3.28 7.03 9.713 12.483 9.969 12.483.255 0 6.689-5.453 9.969-12.568.468-1.15.895-2.812.895-4.388C22.728 5.857 17.87 1 11.864 1" fill="#ED1C24"/><path d="M16.601 7.578a2.779 2.779 0 0 0-3.924 0l-5.55 5.553a2.757 2.757 0 0 0-.813 1.962c0 .741.288 1.438.812 1.962.541.541 1.252.812 1.963.812.71 0 1.421-.27 1.962-.812l5.55-5.552a2.757 2.757 0 0 0 .813-1.963c0-.741-.289-1.438-.813-1.962m-.413 3.511L13.4 13.88l-3.098-3.099 2.788-2.789c.427-.427.988-.64 1.549-.64.56 0 1.122.213 1.549.64.414.414.642.964.642 1.55 0 .584-.228 1.135-.642 1.548" fill="#FFF"/></g></svg>
                    <p>Pilldrop Pets</p>
                </a>
                <a href="https://pilldrop.co.nz" class="header__wrap__secondary__sites__item">
                    <svg width="24" height="30" viewBox="0 0 24 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M11.864 1C5.857 1 1 5.857 1 11.906c0 1.577.426 3.238.895 4.388 3.28 7.03 9.713 12.483 9.969 12.483.255 0 6.689-5.453 9.969-12.568.468-1.15.895-2.812.895-4.388C22.728 5.857 17.87 1 11.864 1" fill="#FFF"/><path d="M16.601 7.578a2.779 2.779 0 0 0-3.924 0l-5.55 5.553a2.757 2.757 0 0 0-.813 1.962c0 .741.288 1.438.812 1.962.541.541 1.252.812 1.963.812.71 0 1.421-.27 1.962-.812l5.55-5.552a2.757 2.757 0 0 0 .813-1.963c0-.741-.289-1.438-.813-1.962m-.413 3.511L13.4 13.88l-3.098-3.099 2.788-2.789c.427-.427.988-.64 1.549-.64.56 0 1.122.213 1.549.64.414.414.642.964.642 1.55 0 .584-.228 1.135-.642 1.548" fill="#ED1C24"/></g></svg>
                    <p>Pilldrop Pharmacy</p>
                </a>
            </div>


            <div class="header__wrap__menu__item [ js-indicator-hover ]">
                <a href="/about-us" class="header__wrap__menu__item__link {% if link.current %}current{% endif %}">
                    About us
                </a>

                <div class="header__wrap__secondary__menu">
                    <div class="header__wrap__secondary__menu__wrap">
                        {% for link in linklists.about-us.links %}
                            <a href="{{ link.url }}" class="header__wrap__secondary__menu__wrap__item {% if link.current %}current{% endif %}">
                                {{ link.title | escape }}
                            </a>
                        {%- endfor -%}
                    </div>
                </div>

            </div>

            <a href="tel:0800745537" class="header__wrap__secondary__call [ js-ripple-red ]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="svg-call"><path d="M19.125 15.125c.25 0 .458.083.625.25.167.167.25.375.25.625v3.125c0 .25-.083.458-.25.625a.848.848 0 0 1-.625.25c-4.194 0-7.764-1.472-10.708-4.417C5.472 12.64 4 9.07 4 4.875c0-.25.083-.458.25-.625A.848.848 0 0 1 4.875 4H8c.25 0 .458.083.625.25.167.167.25.375.25.625 0 1.14.18 2.208.542 3.208a.797.797 0 0 1-.209.875l-1.958 1.96c1.333 2.582 3.292 4.54 5.875 5.874l1.958-1.959c.195-.25.486-.32.875-.208 1.084.333 2.14.5 3.167.5Z" fill="#EC1D24" fill-rule="evenodd"/></svg>
                <p><b>CALL US</b> 0800 745 537</p>
            </a>

            <a href="/account" class="header__wrap__secondary__account">
                <?xml version="1.0" encoding="UTF-8"?><svg version="1.1" width="13px" height="16px" viewBox="0 0 13.0 16.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><clipPath id="1165612250110565011857109"><path d="M24,0 L24,24 L0,24 L0,0 L24,0 Z"></path></clipPath><clipPath id="1115611411653103112122108112"><path d="M8.05938407,7.56447776 C10.7841843,7.56447776 13.0012758,9.75238525 13,12.4399936 L13,15.3428737 C13,15.7054323 12.701485,16 12.3340985,16 L0.665900436,16 C0.298500786,16 0,15.7054195 0,15.3428737 L0,12.4399936 C0,9.75235302 2.21581464,7.56447776 4.94061483,7.56447776 Z M8.06114752,8.87873045 L4.94218235,8.87873045 C2.95209002,8.87873045 1.33330308,10.4762522 1.33330308,12.4400581 L1.33330308,14.685844 L11.6684593,14.685844 L11.6700268,12.4400581 C11.6700268,10.4761878 10.0511745,8.87873045 8.06114752,8.87873045 Z M6.50075055,0 C8.45890473,0 10.0534605,1.57228861 10.0534605,3.50460937 C10.0534605,5.43821918 8.45887208,7.01050779 6.50075055,7.01050779 C4.54132276,7.01050779 2.94804061,5.43821918 2.94804061,3.50589842 C2.94804061,1.57228861 4.54135542,0 6.50075055,0 Z M6.50075055,1.31418823 C5.2774022,1.31418823 4.28111509,2.29734798 4.28111509,3.50457714 C4.28111509,4.71306313 5.2774022,5.69496605 6.50075055,5.69496605 C7.72537251,5.69496605 8.72038602,4.7118063 8.72038602,3.50457714 C8.72038602,2.29609115 7.7240989,1.31418823 6.50075055,1.31418823 Z"></path></clipPath></defs><g transform="translate(-6.0 -4.0)"><g clip-path="url(#1165612250110565011857109)"><g transform="translate(6.0 4.0)"><g clip-path="url(#1115611411653103112122108112)"><polygon points="0,0 13.0000006,0 13.0000006,16 0,16 0,0" stroke="none" fill="#FFFFFF"></polygon></g></g></g></g></svg>            
                <p>Account</p>
            </a>

            <a href="#" class="header__wrap__secondary__cart [ js-my-cart ]">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M2.652 3A.645.645 0 0 0 2 3.638c0 .351.292.637.652.637h2.602c1.08 2.613 2.143 5.231 3.213 7.85l-.985 2.317a.638.638 0 0 0 .06.6c.119.174.33.284.545.283h10.87c.345.005.661-.3.661-.637s-.316-.643-.661-.638H9.065l.564-1.315 10.47-.817a.666.666 0 0 0 .583-.491l1.305-5.525c.085-.372-.25-.778-.639-.777H7.007L6.3 3.398A.668.668 0 0 0 5.696 3H2.652ZM7.53 6.4h12.996l-1.012 4.29-9.912.77L7.53 6.4Zm2.731 9.35c-1.193 0-2.174.959-2.174 2.125S9.067 20 10.261 20c1.193 0 2.174-.959 2.174-2.125s-.98-2.125-2.174-2.125Zm6.522 0c-1.193 0-2.174.959-2.174 2.125S15.589 20 16.783 20c1.193 0 2.174-.959 2.174-2.125s-.981-2.125-2.174-2.125Zm-6.522 1.275a.85.85 0 1 1 0 1.7.85.85 0 1 1 0-1.7Zm6.522 0a.85.85 0 1 1 0 1.7.85.85 0 1 1 0-1.7Z" fill="#FFF" fill-rule="evenodd"/></svg>
                <div class="header__wrap__secondary__cart__count">
                    <span class="[ js-cart-count ]">0</span>
                </div>
            </a>

        </div>

        <!-- -----------------------------------------------------------------
        Logo
        ------------------------------------------------------------------ -->
        <a href="/" class="header__wrap__logo">
            <svg width="308" height="81" viewBox="0 0 308 81" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M29.1 0C13.008 0 0 13.009 0 29.213c0 4.222 1.141 8.673 2.396 11.754C11.183 59.796 28.415 74.402 29.1 74.402c.685 0 17.917-14.606 26.704-33.664 1.254-3.08 2.396-7.53 2.396-11.753C58.199 13.01 45.189 0 29.099 0" fill="#ED1C24"/><path d="M41.789 17.62c-2.899-2.898-7.614-2.898-10.512 0L16.41 32.494a7.384 7.384 0 0 0-2.177 5.255c0 1.986.773 3.853 2.177 5.256a7.408 7.408 0 0 0 5.256 2.174 7.407 7.407 0 0 0 5.256-2.174l14.867-14.873a7.385 7.385 0 0 0 2.177-5.256 7.385 7.385 0 0 0-2.177-5.256m-1.107 9.405-7.467 7.47-8.298-8.298 7.466-7.47a5.85 5.85 0 0 1 4.15-1.716c1.502 0 3.005.572 4.15 1.716a5.828 5.828 0 0 1 1.717 4.149 5.83 5.83 0 0 1-1.718 4.149M70.43 53.217c0 1.4 1.111 2.512 2.552 2.512 1.4 0 2.512-1.112 2.512-2.512v-6.959h5.724c6.34 0 11.53-3.376 11.53-9.84v-.083c0-5.806-4.201-9.636-10.954-9.636h-8.812c-1.44 0-2.553 1.112-2.553 2.553v23.965Zm5.064-11.529V31.311h5.889c3.788 0 6.217 1.771 6.217 5.147v.083c0 3.006-2.388 5.147-6.217 5.147h-5.889ZM95.63 28.182c0 1.482 1.234 2.47 2.841 2.47 1.605 0 2.841-.988 2.841-2.47v-.248c0-1.482-1.236-2.429-2.84-2.429-1.608 0-2.842.947-2.842 2.43v.247ZM96 53.258c0 1.4 1.112 2.471 2.471 2.471 1.4 0 2.511-1.07 2.511-2.47V36.045c0-1.4-1.111-2.512-2.51-2.512-1.401 0-2.472 1.113-2.472 2.512v17.212Zm10.13 0c0 1.4 1.11 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.129 0c0 1.4 1.111 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.417-.288c0 1.442 1.112 2.553 2.554 2.553h8.194c9.058 0 15.317-6.3 15.317-14.412v-.082c0-8.112-6.259-14.33-15.317-14.33h-8.194c-1.442 0-2.554 1.112-2.554 2.553V52.97Zm5.065-2.059v-19.6h5.683c6.052 0 10.006 4.16 10.006 9.8v.082c0 5.642-3.954 9.718-10.006 9.718h-5.683Zm24.088 2.347c0 1.4 1.112 2.471 2.47 2.471 1.401 0 2.513-1.112 2.513-2.47v-6.424c0-5.147 2.43-7.865 5.97-8.483 1.113-.206 1.977-1.07 1.977-2.388 0-1.441-.906-2.47-2.47-2.47-2.183 0-4.324 2.059-5.477 4.776v-2.224c0-1.4-1.112-2.512-2.512-2.512s-2.47 1.113-2.47 2.512v17.212Zm25.366 2.759c6.712 0 11.652-5.147 11.652-11.323v-.083c0-6.217-4.9-11.282-11.57-11.282s-11.612 5.147-11.612 11.365v.082c0 6.176 4.9 11.24 11.53 11.24Zm.082-4.364c-3.87 0-6.63-3.171-6.63-6.96v-.082c0-3.788 2.553-6.918 6.548-6.918 3.911 0 6.67 3.171 6.67 7v.083c0 3.747-2.553 6.877-6.588 6.877Zm15.401 8.193a2.45 2.45 0 0 0 2.47 2.47c1.401 0 2.512-1.069 2.512-2.47v-7.7c1.523 2.018 3.787 3.83 7.412 3.83 5.146 0 10.088-4.076 10.088-11.282v-.083c0-7.247-4.984-11.282-10.088-11.282-3.541 0-5.807 1.811-7.412 4.076v-1.359c0-1.4-1.11-2.512-2.512-2.512-1.401 0-2.47 1.113-2.47 2.512v23.8Zm11.2-8.193c-3.377 0-6.341-2.8-6.341-6.96v-.082c0-4.159 2.964-6.959 6.34-6.959 3.377 0 6.218 2.76 6.218 6.96v.082c0 4.282-2.8 6.959-6.218 6.959Z" fill="#FFF"/><path d="M221.168 28.897c-.527 0-1.008.134-1.443.404-.435.27-.778.632-1.031 1.087a2.986 2.986 0 0 0-.379 1.474c0 .528.125 1.018.375 1.47.25.453.591.812 1.027 1.078.435.267.913.4 1.434.4.528 0 1.01-.134 1.448-.404.439-.27.783-.632 1.036-1.087.252-.455.379-.947.379-1.474 0-.533-.127-1.026-.38-1.479a2.87 2.87 0 0 0-1.03-1.073 2.71 2.71 0 0 0-1.436-.396Zm-.017 5.34c-.426 0-.816-.108-1.17-.322a2.307 2.307 0 0 1-.832-.865 2.399 2.399 0 0 1-.304-1.188 2.393 2.393 0 0 1 1.15-2.065 2.21 2.21 0 0 1 1.173-.327c.427 0 .817.108 1.17.322a2.377 2.377 0 0 1 1.145 2.052c0 .43-.102.828-.307 1.197a2.32 2.32 0 0 1-.842.874c-.356.214-.75.322-1.183.322Zm1.23-2.923c0-.319-.1-.564-.3-.735-.199-.17-.48-.257-.845-.257h-1.154v2.888h.53v-.852h.725l.496.852h.607l-.623-.956a.925.925 0 0 0 .416-.361c.098-.16.148-.352.148-.579Zm-1.768-.54h.623c.202 0 .359.048.471.14.112.093.169.229.169.409a.54.54 0 0 1-.169.422c-.112.101-.269.152-.47.152h-.624v-1.122ZM70.43 53.217c0 1.4 1.111 2.512 2.552 2.512 1.4 0 2.512-1.112 2.512-2.512v-6.959h5.724c6.34 0 11.53-3.376 11.53-9.84v-.083c0-5.806-4.201-9.636-10.954-9.636h-8.812c-1.44 0-2.553 1.112-2.553 2.553v23.965Zm5.064-11.529V31.311h5.889c3.788 0 6.217 1.771 6.217 5.147v.083c0 3.006-2.388 5.147-6.217 5.147h-5.889ZM95.63 28.182c0 1.482 1.234 2.47 2.841 2.47 1.605 0 2.841-.988 2.841-2.47v-.248c0-1.482-1.236-2.429-2.84-2.429-1.608 0-2.842.947-2.842 2.43v.247ZM96 53.258c0 1.4 1.112 2.471 2.471 2.471 1.4 0 2.511-1.07 2.511-2.47V36.045c0-1.4-1.111-2.512-2.51-2.512-1.401 0-2.472 1.113-2.472 2.512v17.212Zm10.13 0c0 1.4 1.11 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.129 0c0 1.4 1.111 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.417-.288c0 1.442 1.112 2.553 2.554 2.553h8.194c9.058 0 15.317-6.3 15.317-14.412v-.082c0-8.112-6.259-14.33-15.317-14.33h-8.194c-1.442 0-2.554 1.112-2.554 2.553V52.97Zm5.065-2.059v-19.6h5.683c6.052 0 10.006 4.16 10.006 9.8v.082c0 5.642-3.954 9.718-10.006 9.718h-5.683Zm24.088 2.347c0 1.4 1.112 2.471 2.47 2.471 1.401 0 2.513-1.112 2.513-2.47v-6.424c0-5.147 2.43-7.865 5.97-8.483 1.113-.206 1.977-1.07 1.977-2.388 0-1.441-.906-2.47-2.47-2.47-2.183 0-4.324 2.059-5.477 4.776v-2.224c0-1.4-1.112-2.512-2.512-2.512s-2.47 1.113-2.47 2.512v17.212Zm25.366 2.759c6.712 0 11.652-5.147 11.652-11.323v-.083c0-6.217-4.9-11.282-11.57-11.282s-11.612 5.147-11.612 11.365v.082c0 6.176 4.9 11.24 11.53 11.24Zm.082-4.364c-3.87 0-6.63-3.171-6.63-6.96v-.082c0-3.788 2.553-6.918 6.548-6.918 3.911 0 6.67 3.171 6.67 7v.083c0 3.747-2.553 6.877-6.588 6.877Zm15.401 8.193a2.45 2.45 0 0 0 2.47 2.47c1.401 0 2.512-1.069 2.512-2.47v-7.7c1.523 2.018 3.787 3.83 7.412 3.83 5.146 0 10.088-4.076 10.088-11.282v-.083c0-7.247-4.984-11.282-10.088-11.282-3.541 0-5.807 1.811-7.412 4.076v-1.359c0-1.4-1.11-2.512-2.512-2.512-1.401 0-2.47 1.113-2.47 2.512v23.8Zm11.2-8.193c-3.377 0-6.341-2.8-6.341-6.96v-.082c0-4.159 2.964-6.959 6.34-6.959 3.377 0 6.218 2.76 6.218 6.96v.082c0 4.282-2.8 6.959-6.218 6.959Z" fill="#5B5B5B"/><path d="M70.43 53.217c0 1.4 1.111 2.512 2.552 2.512 1.4 0 2.512-1.112 2.512-2.512v-6.959h5.724c6.34 0 11.53-3.376 11.53-9.84v-.083c0-5.806-4.201-9.636-10.954-9.636h-8.812c-1.44 0-2.553 1.112-2.553 2.553v23.965Zm5.064-11.529V31.311h5.889c3.788 0 6.217 1.771 6.217 5.147v.083c0 3.006-2.388 5.147-6.217 5.147h-5.889ZM95.63 28.182c0 1.482 1.234 2.47 2.841 2.47 1.605 0 2.841-.988 2.841-2.47v-.248c0-1.482-1.236-2.429-2.84-2.429-1.608 0-2.842.947-2.842 2.43v.247ZM96 53.258c0 1.4 1.112 2.471 2.471 2.471 1.4 0 2.511-1.07 2.511-2.47V36.045c0-1.4-1.111-2.512-2.51-2.512-1.401 0-2.472 1.113-2.472 2.512v17.212Zm10.13 0c0 1.4 1.11 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.129 0c0 1.4 1.111 2.471 2.47 2.471 1.4 0 2.512-1.07 2.512-2.47v-25.53c0-1.36-1.112-2.47-2.512-2.47s-2.47 1.11-2.47 2.47v25.53Zm10.417-.288c0 1.442 1.112 2.553 2.554 2.553h8.194c9.058 0 15.317-6.3 15.317-14.412v-.082c0-8.112-6.259-14.33-15.317-14.33h-8.194c-1.442 0-2.554 1.112-2.554 2.553V52.97Zm5.065-2.059v-19.6h5.683c6.052 0 10.006 4.16 10.006 9.8v.082c0 5.642-3.954 9.718-10.006 9.718h-5.683Zm24.088 2.347c0 1.4 1.112 2.471 2.47 2.471 1.401 0 2.513-1.112 2.513-2.47v-6.424c0-5.147 2.43-7.865 5.97-8.483 1.113-.206 1.977-1.07 1.977-2.388 0-1.441-.906-2.47-2.47-2.47-2.183 0-4.324 2.059-5.477 4.776v-2.224c0-1.4-1.112-2.512-2.512-2.512s-2.47 1.113-2.47 2.512v17.212Zm25.366 2.759c6.712 0 11.652-5.147 11.652-11.323v-.083c0-6.217-4.9-11.282-11.57-11.282s-11.612 5.147-11.612 11.365v.082c0 6.176 4.9 11.24 11.53 11.24Zm.082-4.364c-3.87 0-6.63-3.171-6.63-6.96v-.082c0-3.788 2.553-6.918 6.548-6.918 3.911 0 6.67 3.171 6.67 7v.083c0 3.747-2.553 6.877-6.588 6.877Zm15.401 8.193a2.45 2.45 0 0 0 2.47 2.47c1.401 0 2.512-1.069 2.512-2.47v-7.7c1.523 2.018 3.787 3.83 7.412 3.83 5.146 0 10.088-4.076 10.088-11.282v-.083c0-7.247-4.984-11.282-10.088-11.282-3.541 0-5.807 1.811-7.412 4.076v-1.359c0-1.4-1.11-2.512-2.512-2.512-1.401 0-2.47 1.113-2.47 2.512v23.8Zm11.2-8.193c-3.377 0-6.341-2.8-6.341-6.96v-.082c0-4.159 2.964-6.959 6.34-6.959 3.377 0 6.218 2.76 6.218 6.96v.082c0 4.282-2.8 6.959-6.218 6.959Z" stroke="#5B5B5B" stroke-width=".524"/><path d="M70.072 78.019c0 .18.155.335.336.335.18 0 .335-.154.335-.335v-3.085h2.44c1.884 0 3.523-.981 3.523-2.878v-.026c0-1.742-1.368-2.762-3.356-2.762h-2.942a.342.342 0 0 0-.336.336v8.415Zm.671-3.704v-4.427H73.3c1.626 0 2.736.749 2.736 2.181v.025c0 1.343-1.136 2.22-2.814 2.22h-2.478Zm7.55 3.717c0 .193.143.322.323.322.18 0 .31-.13.31-.322v-3.536c0-1.369.994-2.35 2.284-2.35 1.33 0 2.091.891 2.091 2.246v3.64c0 .193.142.322.323.322.18 0 .31-.13.31-.322v-3.756c0-1.575-.969-2.71-2.633-2.71-1.2 0-1.936.606-2.375 1.38v-3.794a.32.32 0 0 0-.323-.323c-.18 0-.31.142-.31.323v8.88Zm9.655.426c1.251 0 2.064-.62 2.517-1.252v.826c0 .193.128.322.31.322.18 0 .309-.13.309-.322v-3.834c0-.813-.232-1.42-.671-1.858-.478-.478-1.188-.723-2.078-.723-.84 0-1.498.194-2.168.49a.321.321 0 0 0-.181.285c0 .155.142.296.296.296a.33.33 0 0 0 .142-.039 4.268 4.268 0 0 1 1.872-.438c1.356 0 2.169.683 2.169 2.013v.284a7.927 7.927 0 0 0-2.182-.284c-1.703 0-2.878.774-2.878 2.142v.026c0 1.368 1.317 2.066 2.543 2.066Zm.038-.594c-1.006 0-1.91-.555-1.91-1.51v-.026c0-.917.774-1.536 2.168-1.536.942 0 1.678.155 2.233.297v.748c0 1.2-1.148 2.027-2.49 2.027Zm5.111.168c0 .193.142.322.323.322.18 0 .31-.141.31-.322v-2.427c0-2.117 1.251-3.162 2.645-3.29a.344.344 0 0 0 .336-.35.336.336 0 0 0-.336-.348c-.929 0-2.078.697-2.645 1.975v-1.6a.312.312 0 0 0-.323-.323c-.181 0-.31.142-.31.323v6.04Zm4.905 0c0 .193.141.322.322.322.181 0 .31-.13.31-.322v-3.524c0-1.33.929-2.362 2.104-2.362 1.174 0 1.923.839 1.923 2.208v3.678c0 .193.141.322.322.322.181 0 .31-.13.31-.322v-3.563c0-1.471.968-2.323 2.078-2.323 1.214 0 1.948.827 1.948 2.246v3.64c0 .193.143.322.324.322.18 0 .31-.13.31-.322v-3.717c0-1.653-.968-2.75-2.53-2.75-1.24 0-1.95.685-2.375 1.42-.361-.761-1.071-1.42-2.22-1.42-1.175 0-1.768.646-2.194 1.33v-.903a.312.312 0 0 0-.323-.323c-.18 0-.31.142-.31.323v6.04Zm14.016.426c1.252 0 2.065-.62 2.516-1.252v.826c0 .193.13.322.31.322.181 0 .31-.13.31-.322v-3.834c0-.813-.233-1.42-.67-1.858-.478-.478-1.189-.723-2.08-.723-.838 0-1.496.194-2.168.49a.323.323 0 0 0-.18.285.31.31 0 0 0 .297.296c.038 0 .09-.013.142-.039a4.265 4.265 0 0 1 1.871-.438c1.355 0 2.168.683 2.168 2.013v.284a7.916 7.916 0 0 0-2.18-.284c-1.704 0-2.879.774-2.879 2.142v.026c0 1.368 1.317 2.066 2.543 2.066Zm.039-.594c-1.007 0-1.911-.555-1.911-1.51v-.026c0-.917.775-1.536 2.169-1.536.942 0 1.678.155 2.233.297v.748c0 1.2-1.15 2.027-2.491 2.027Zm8.014.594c1.123 0 1.885-.465 2.543-1.136a.288.288 0 0 0 .077-.194.333.333 0 0 0-.31-.31c-.09 0-.154.052-.206.104-.529.529-1.213.942-2.065.942-1.51 0-2.71-1.265-2.71-2.853v-.025c0-1.575 1.161-2.826 2.658-2.826.89 0 1.51.425 2.04.928a.33.33 0 0 0 .22.078.32.32 0 0 0 .321-.323c0-.09-.038-.18-.09-.232-.593-.555-1.342-1.045-2.478-1.045-1.884 0-3.355 1.6-3.355 3.445v.026c0 1.846 1.458 3.42 3.355 3.42Zm4.943 1.948c.943 0 1.614-.49 2.195-1.87l2.671-6.376a.397.397 0 0 0 .04-.168.32.32 0 0 0-.323-.323c-.168 0-.259.103-.31.232l-2.298 5.705-2.633-5.68c-.064-.141-.142-.257-.335-.257a.322.322 0 0 0-.336.323c0 .064.026.128.052.193l2.943 6.079-.04.09c-.425.981-.864 1.459-1.587 1.459-.4 0-.632-.051-.839-.13-.077-.025-.142-.051-.206-.051a.292.292 0 0 0-.297.297c0 .142.077.232.18.27.35.13.685.207 1.123.207Zm5.292-2.826v.348c0 .245.181.426.427.426.245 0 .425-.18.425-.426v-.348a.413.413 0 0 0-.425-.426.413.413 0 0 0-.427.426Zm9.55.439c0 .18.156.335.336.335.181 0 .336-.154.336-.335v-3.304l3.498-4.918a.501.501 0 0 0 .103-.258c0-.168-.168-.323-.335-.323-.143 0-.22.09-.298.194l-3.29 4.71-3.279-4.71c-.077-.116-.167-.194-.31-.194-.18 0-.348.155-.348.336 0 .065.026.142.064.206l3.524 4.97v3.29Zm7.396.439c1.962 0 3.395-1.601 3.395-3.447v-.025c0-1.846-1.42-3.42-3.368-3.42-1.963 0-3.395 1.6-3.395 3.445v.026c0 1.846 1.42 3.42 3.368 3.42Zm.027-.594c-1.524 0-2.711-1.265-2.711-2.853v-.025c0-1.549 1.122-2.826 2.684-2.826 1.523 0 2.71 1.264 2.71 2.851v.026c0 1.55-1.122 2.827-2.683 2.827Zm10.57-5.872a.312.312 0 0 0-.323-.323c-.18 0-.31.129-.31.323v3.536c0 1.368-.994 2.349-2.284 2.349-1.33 0-2.09-.89-2.09-2.246v-3.64a.312.312 0 0 0-.324-.322c-.18 0-.31.129-.31.323v3.755c0 1.575.969 2.71 2.633 2.71 1.2 0 1.936-.606 2.376-1.38v.955c0 .193.141.322.321.322.181 0 .31-.141.31-.322v-6.04Zm2.142 6.04c0 .193.142.322.323.322.18 0 .31-.141.31-.322v-2.427c0-2.117 1.251-3.162 2.645-3.29a.344.344 0 0 0 .335-.35.336.336 0 0 0-.335-.348c-.93 0-2.078.697-2.646 1.975v-1.6a.312.312 0 0 0-.322-.323c-.181 0-.31.142-.31.323v6.04Zm11.151.077c.064.181.168.297.348.297h.026c.181 0 .298-.129.349-.297l2.555-7.589 2.556 7.59c.051.167.167.296.348.296h.026c.18 0 .284-.129.349-.297l3.02-8.376a.552.552 0 0 0 .052-.18.361.361 0 0 0-.336-.337c-.155 0-.258.104-.323.272l-2.762 7.821-2.568-7.834c-.052-.142-.155-.259-.323-.259h-.026c-.18 0-.271.117-.323.259l-2.568 7.834-2.749-7.783c-.052-.155-.18-.31-.362-.31a.364.364 0 0 0-.348.35c0 .05.013.103.039.167l3.02 8.376Zm12.429.349c1.251 0 2.065-.62 2.517-1.252v.826c0 .193.129.322.31.322.18 0 .31-.13.31-.322v-3.834c0-.813-.233-1.42-.672-1.858-.478-.478-1.187-.723-2.078-.723-.84 0-1.497.194-2.168.49a.323.323 0 0 0-.181.285c0 .155.142.296.297.296.039 0 .09-.013.142-.039a4.261 4.261 0 0 1 1.87-.438c1.357 0 2.17.683 2.17 2.013v.284a7.92 7.92 0 0 0-2.181-.284c-1.704 0-2.879.774-2.879 2.142v.026c0 1.368 1.317 2.066 2.543 2.066Zm.038-.594c-1.006 0-1.91-.555-1.91-1.51v-.026c0-.917.774-1.536 2.169-1.536a8.73 8.73 0 0 1 2.232.297v.748c0 1.2-1.148 2.027-2.49 2.027Zm5.654 2.542c.942 0 1.613-.49 2.194-1.87l2.67-6.376a.398.398 0 0 0 .04-.168.32.32 0 0 0-.323-.323c-.167 0-.258.103-.31.232l-2.297 5.705-2.633-5.68c-.064-.141-.141-.257-.335-.257a.322.322 0 0 0-.336.323c0 .064.026.128.052.193l2.943 6.079-.039.09c-.426.981-.864 1.459-1.588 1.459-.4 0-.631-.051-.838-.13-.077-.025-.143-.051-.208-.051a.293.293 0 0 0-.296.297c0 .142.078.232.18.27.35.13.686.207 1.124.207Zm5.29-2.826v.348c0 .245.181.426.427.426.244 0 .427-.18.427-.426v-.348a.415.415 0 0 0-.427-.426.414.414 0 0 0-.426.426Z" fill="#5B5B5B"/><path d="M227.683 63.74h2.144V51.93c1.837 2.799 4.724 5.336 9.186 5.336 5.38 0 10.849-4.418 10.849-11.68V45.5c0-7.262-5.468-11.592-10.85-11.592-4.417 0-7.26 2.58-9.185 5.512v-4.987h-2.144V63.74Zm11.111-8.53c-4.637 0-9.098-3.85-9.098-9.58v-.087c0-5.687 4.461-9.58 9.098-9.58 4.68 0 8.749 3.761 8.749 9.623v.088c0 5.993-3.893 9.536-8.749 9.536Zm24.978 2.056c4.286 0 6.955-1.75 9.23-4.2l-1.487-1.311c-1.838 1.968-4.2 3.5-7.656 3.5-4.374 0-8.355-3.238-8.748-8.794h18.503c.044-.35.044-.48.044-.875 0-6.605-3.98-11.68-10.237-11.68-6.036 0-10.585 5.163-10.585 11.637v.087c0 6.956 5.074 11.636 10.936 11.636Zm-8.661-12.73c.393-4.943 3.805-8.66 8.223-8.66 5.119 0 7.7 4.155 8.006 8.66h-16.23Zm30.052 12.599c1.4 0 2.493-.262 3.63-.787v-2.013c-1.268.569-2.187.787-3.28.787-2.581 0-4.462-1.136-4.462-4.33V36.4h7.83v-1.968h-7.83v-7.13h-2.144v7.13h-3.237V36.4h3.237v14.61c0 4.244 2.8 6.125 6.256 6.125Zm15.091.044c4.288 0 7.7-2.537 7.7-6.518v-.088c0-3.937-3.763-5.25-7.35-6.255-3.193-.919-6.211-1.837-6.211-4.331V39.9c0-2.231 2.012-3.893 5.074-3.893 2.362 0 4.812.875 6.868 2.23l1.137-1.793c-2.23-1.488-5.25-2.45-7.918-2.45-4.33 0-7.348 2.581-7.348 6.168v.088c0 3.98 4.024 5.074 7.655 6.124 3.106.875 5.905 1.837 5.905 4.462v.087c0 2.581-2.362 4.243-5.38 4.243-2.844 0-5.556-1.05-8.006-2.93l-1.268 1.706c2.362 1.924 5.905 3.237 9.142 3.237Z" fill="#C1C1C1"/></g></svg>
        </a>
        
        <!-- -----------------------------------------------------------------
        Navigation
        ------------------------------------------------------------------ -->
        <nav class="header__wrap__nav">
            {% for link in linklists.main-menu.links %}
                <div class="header__wrap__nav__item">
                    <a href="{{ link.url }}" class="header__wrap__nav__item__link {% if link.current %}current{% endif %}">{{ link.title | escape }}</a>

                    {% if link.links != blank %}
                        <div class="header__wrap__nav__item__menu">
                            {% for childlink in link.links %}
                            <div class="header__wrap__nav__item__menu__item">
                                <a href="{{ childlink.url }}" data-id="{{ childlink.title }}" class="header__main__wrap__menu__item__menu__item__link {% if childlink.active %}header__main__wrap__menu__item__menu__item__link--current{% endif %}">
                                    {{ childlink.title | escape }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {%- endfor -%}
        </nav>
         
        <!-- -----------------------------------------------------------------
        Search
        ------------------------------------------------------------------ -->
        <button type="button" class="header__wrap__search [ js-toggle-search ]">
            <p>Search products</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M10.2019773,16.8862162 C6.51673904,16.8862162 3.52065047,13.887017 3.52065047,10.2025751 C3.52065047,6.51714763 6.51673904,3.51991958 10.2019773,3.51991958 C13.8872155,3.51991958 16.8852752,6.51714763 16.8852752,10.2025751 C16.8852752,13.887017 13.8872155,16.8862162 10.2019773,16.8862162 Z M18.5878222,16.0998504 L18.3115957,16.3760912 C19.6186147,14.6618758 20.4049401,12.5260675 20.4049401,10.2025012 C20.4049401,4.56803771 15.837137,0 10.2019773,0 C4.56780314,0 0,4.56803771 0,10.2025012 C0,15.8369647 4.56780314,20.405988 10.2019773,20.405988 C12.5253503,20.405988 14.6601374,19.6196222 16.3762358,18.3125361 L16.0990483,18.5887768 L21.5109797,24 L24,21.511838 L18.5878222,16.0998504 Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M10.25,0 C15.9109187,0 20.5,4.58908131 20.5,10.25 C20.5,15.9109187 15.9109187,20.5 10.25,20.5 C4.58908131,20.5 0,15.9109187 0,10.25 C0,4.58908131 4.58908131,0 10.25,0 Z M10.25,2 C5.69365081,2 2,5.69365081 2,10.25 C2,14.8063492 5.69365081,18.5 10.25,18.5 C14.8063492,18.5 18.5,14.8063492 18.5,10.25 C18.5,5.69365081 14.8063492,2 10.25,2 Z M13.7248238,5.25 L15.25,6.77517619 L11.7757121,10.25 L15.25,13.7248238 L13.7248238,15.25 L10.2505359,11.7751762 L6.77517619,15.25 L5.25,13.7248238 L8.72535976,10.25 L5.25053595,6.77517619 L6.77571214,5.25 L10.2505359,8.72482381 L13.7248238,5.25 Z" />
            </svg>
            <div class="header__wrap__search__dot"></div>
        </button>
        
        <!-- -----------------------------------------------------------------
        Account
        ------------------------------------------------------------------ -->
        {% comment %} <nav class="header__wrap__account">
            <a href="#" class="header__wrap__account__item header__wrap__account__item--link">LOG IN</a>
            <a href="/pages/submit-prescription" class="header__wrap__account__item button button--outline header__wrap__account__item--button [ js-sign-up ]">Submit Prescription</a>
        </nav>       {% endcomment %}

        <!-- -----------------------------------------------------------------
        Navburger 
        ------------------------------------------------------------------ -->
        <div class="header__wrap__navburger" onclick="toggleMobileMenu(event)">
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--1"></span>
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--2"></span>
            <span class="header__wrap__navburger__ring header__wrap__navburger__ring--3"></span>
        </div>

    </div>
</header>

<!-- -------------------------------------------- 
Mobile Menu
-------------------------------------------- -->


<div class="mobileMenu" id="mobilemenu">

    
    <div class="mobileMenu__wrap">
        {% for link in linklists.mobile-menu.links %}
            
            <div class="mobileMenu__wrap__item {% if link.current %}current{% endif %}" data-id="{{ link.url }}">
                <a href="{{ link.url }}" style="">{{ link.title | escape }} </a>

                {% if link.links != blank %}
                    
                    <span onclick="toggleMobileMenu('{{ link.url }}')"></span>

                    <div class="mobileMenu__wrap__item__menu">
                        {% for childlink in link.links %}
                        <div class="mobileMenu__wrap__item__menu__item">
                            <a href="{{ childlink.url }}" data-id="{{ childlink.title }}" class="mobileMenu__wrap__item__menu__item__link {% if childlink.active %}mobileMenu__wrap__item__menu__item__link--current{% endif %}">
                                {{ childlink.title | escape }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {%- endfor -%}

        <div class="mobileMenu__wrap__sites">

            <a href="https://pilldroppets.co.nz" class="mobileMenu__wrap__sites__item">
                <svg width="24" height="30" viewBox="0 0 24 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M11.864 1C5.857 1 1 5.857 1 11.906c0 1.577.426 3.238.895 4.388 3.28 7.03 9.713 12.483 9.969 12.483.255 0 6.689-5.453 9.969-12.568.468-1.15.895-2.812.895-4.388C22.728 5.857 17.87 1 11.864 1" fill="#FFF"/><path d="M16.601 7.578a2.779 2.779 0 0 0-3.924 0l-5.55 5.553a2.757 2.757 0 0 0-.813 1.962c0 .741.288 1.438.812 1.962.541.541 1.252.812 1.963.812.71 0 1.421-.27 1.962-.812l5.55-5.552a2.757 2.757 0 0 0 .813-1.963c0-.741-.289-1.438-.813-1.962m-.413 3.511L13.4 13.88l-3.098-3.099 2.788-2.789c.427-.427.988-.64 1.549-.64.56 0 1.122.213 1.549.64.414.414.642.964.642 1.55 0 .584-.228 1.135-.642 1.548" fill="#ED1C24"/></g></svg>
                <p>Pilldrop Pets</p>
            </a>

            <a href="https://pilldrop.co.nz" class="mobileMenu__wrap__sites__item">
                <svg width="24" height="30" viewBox="0 0 24 30" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M11.864 1C5.857 1 1 5.857 1 11.906c0 1.577.426 3.238.895 4.388 3.28 7.03 9.713 12.483 9.969 12.483.255 0 6.689-5.453 9.969-12.568.468-1.15.895-2.812.895-4.388C22.728 5.857 17.87 1 11.864 1" fill="#ED1C24"/><path d="M16.601 7.578a2.779 2.779 0 0 0-3.924 0l-5.55 5.553a2.757 2.757 0 0 0-.813 1.962c0 .741.288 1.438.812 1.962.541.541 1.252.812 1.963.812.71 0 1.421-.27 1.962-.812l5.55-5.552a2.757 2.757 0 0 0 .813-1.963c0-.741-.289-1.438-.813-1.962m-.413 3.511L13.4 13.88l-3.098-3.099 2.788-2.789c.427-.427.988-.64 1.549-.64.56 0 1.122.213 1.549.64.414.414.642.964.642 1.55 0 .584-.228 1.135-.642 1.548" fill="#FFF"/></g></svg>
                <p>Pilldrop Pharmacy</p>
            </a>
            
        </div>

            
        </div>

</div>

<script>
    /*------------------------------------------------------------------
    Sticky header on scroll
    ------------------------------------------------------------------*/
    window.addEventListener('scroll', function () {
        var header = document.querySelector('.header');
        header.classList.toggle('sticky', window.scrollY > 44);
    });


    /**
    * Close the newsletter popup
    */
    function toggleMobileMenu(e) {
        e.preventDefault();
        document.querySelector('body').classList.toggle('mobile-menu-active');
    }
    
</script> 






{% comment %}
Sidecart
{% endcomment %}

<section class="sidecart [ js-side-cart ][ cursor-close ]">
    <div class="sidecart__inner">

        <button type="button" class="sidecart__inner__close [ js-close-side-cart ]">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <polygon fill-rule="evenodd" points="29.854 25.3 19.482 14.927 29.854 4.553 25.3 0 14.928 10.374 4.555 0 .002 4.553 10.375 14.927 0 25.3 4.553 29.854 14.928 19.48 25.3 29.854" />
            </svg>
        </button>

        <div class="sidecart__inner__title">
            <p><span>YOUR SHOPPING CART</span></p>
        </div>

        <div class="sidecart__inner__list [ js-side-cart-items ]">
            {% for item in cart.items %}
            <div class="sidecart__inner__list__item">

                {% if item.image %}
                <a href="{{ item.url }}" class="sidecart__inner__list__item__image">
                    <img class="[ lazyload ]" data-src="{{ item.image | image_url: width: 540, height: 540 }}" data-srcset="
                    {{ item.image | image_url: width: 540, height: 540 }} 540w,
                    {{ item.image | image_url: width: 768, height: 768 }} 768w,
                    {{ item.image | image_url: width: 968, height: 968 }} 968w,
                    {{ item.image | image_url: width: 1080, height: 1080 }} 1080w" alt="{{ item.image.alt | escape }}" />
                </a>
                {% endif %}

                <a href="{{ item.url }}" class="sidecart__inner__list__item__details">
                    <p><strong>{{ item.title | escape }}</strong></p>
                    <p>{{item.type}}</p>
                    <p><strong>{{item.price | money}}</strong></p>
                </a>
                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="sidecart__inner__list__item__remove [ js-remove-from-side-cart ]" data-cart-item-index="{{ forloop.index }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <polygon fill-rule="evenodd" points="29.854 25.3 19.482 14.927 29.854 4.553 25.3 0 14.928 10.374 4.555 0 .002 4.553 10.375 14.927 0 25.3 4.553 29.854 14.928 19.48 25.3 29.854" />
                    </svg>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="sidecart__inner__actions">

            <div class="sidecart__inner__actions__total">
                <h5><strong>SUBTOTAL</strong> <span class="[ js-total ]">{{ cart.total_price | money }}</span></h5>
            </div>

            <p class="small">Shipping, taxes, and discounts codes calculated at checkout.</p>

            <a href="{{ routes.cart_url }}" class="button button--yellow button--full">
                My Cart
            </a>
        </div>

    </div>
</section>



{% comment %}
SearchForm
{% endcomment %}

<section class="searchForm">

    <div class="searchForm__wrapper">

        <form class="searchForm__wrapper__form" action="{{ routes.search_url }}" method="get" role="search" autocomplete="off">
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <input class="searchForm__wrapper__form__input [ js-search-query ]" type="text" name="q" placeholder="Start typing to search..." />
        </form>

    </div>

</section>

{% comment %}
Searchpane
{% endcomment %}

<section class="searchPane">

    <div class="searchPane__wrapper">

        <p class="searchPane__wrapper__title">
            <span>RESULTS</span>
        </p>

        <div class="searchPane__wrapper__items [ js-search-items ]">

            <div class="searchPane__wrapper__item searchPane__wrapper__item--placeholder">
                <div class="searchPane__wrapper__item__image"><span></span></div>
                <div class="searchPane__wrapper__item__details">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="searchPane__wrapper__item searchPane__wrapper__item--placeholder">
                <div class="searchPane__wrapper__item__image"><span></span></div>
                <div class="searchPane__wrapper__item__details">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="searchPane__wrapper__item searchPane__wrapper__item--placeholder">
                <div class="searchPane__wrapper__item__image"><span></span></div>
                <div class="searchPane__wrapper__item__details">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="searchPane__wrapper__item searchPane__wrapper__item--placeholder">
                <div class="searchPane__wrapper__item__image"><span></span></div>
                <div class="searchPane__wrapper__item__details">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>

        </div>

        <a href="{{ routes.search_url }}" class="button [ js-full-search ]">
            Show all results
        </a>

    </div>

</section>