
  {% comment %}
    Icons with text
  {% endcomment %}
  
  <div class="icons-with-text icon--{{ section.id }}">

      <div class="icons-with-text__text">
        
        {%- if section.settings.heading1 != blank -%}
          <div class="icons-with-text__text__item">
            <div class="icons-with-text__text__item__icon">
              <img loading="lazy" src="{{ section.settings.image1 | image_url: width: 200 }}" 
                alt="{{ section.settings.image1.alt | escape }}" width="200" height="200">
            </div>
            <div class="icons-with-text__text__item__text">
              <h6 class="colour--green-light">{{ section.settings.heading1 | escape }}</h6>
              {{ section.settings.text1 }}
            </div>  
          </div>  
        {%- endif -%}

        {%- if section.settings.heading2 != blank -%}
          <div class="icons-with-text__text__item">
            <div class="icons-with-text__text__item__icon">
              <img loading="lazy" src="{{ section.settings.image2 | image_url: width: 200 }}" 
                alt="{{ section.settings.image2.alt | escape }}" width="200" height="200">
            </div>
            <div class="icons-with-text__text__item__text">
              <h6 class="colour--green-light">{{ section.settings.heading2 | escape }}</h6>
              {{ section.settings.text2 }}
            </div>  
          </div>  
        {%- endif -%}

        {%- if section.settings.heading3 != blank -%}
          <div class="icons-with-text__text__item">
            <div class="icons-with-text__text__item__icon">
              <img loading="lazy" src="{{ section.settings.image3 | image_url: width: 200 }}" 
                alt="{{ section.settings.image3.alt | escape }}" width="200" height="200">
            </div>
            <div class="icons-with-text__text__item__text">
              <h6 class="colour--green-light">{{ section.settings.heading3 | escape }}</h6>
              {{ section.settings.text3 }}
            </div>  
          </div>  
        {%- endif -%}

      </div>  


      <div class="icons-with-text__heading">
        <div class="icons-with-text__heading__inner">
          <h3 class="{{ section.settings.subheading_size }}">{{ section.settings.subheading | escape }}</h3>
          <h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
        </div> 
      </div>

  </div>
  

{% schema %}
{
  "name": "Icons with image",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "Icons with text",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        }
      ],
      "default": "h2",
      "label": "Subheading size"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Image with text",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        }
      ],
      "default": "h2",
      "label": "Heading size"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "heading1",
      "label": "Heading 1",
      "default": "Get prescription"
    },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text 1",
      "default": "<p>Your pet medications will be delivered straight to your door anywhere you are in New Zealand.</p>"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "Heading 2",
      "default": "Get prescription"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text 2",
      "default": "<p>Your pet medications will be delivered straight to your door anywhere you are in New Zealand.</p>"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "text",
      "id": "heading3",
      "label": "Heading 3",
      "default": "Get prescription"
    },
    {
      "type": "richtext",
      "id": "text3",
      "label": "Text 3",
      "default": "<p>Your pet medications will be delivered straight to your door anywhere you are in New Zealand.</p>"
    }
  ],
  "presets": [
    {
      "name": "Icons with image"
    }
  ]
}   
{% endschema %}
  