<div class="banner__push"></div>

{% comment %}
    Breadcrumbs
{% endcomment %}
    
    {% render 'breadcrumbs' %}

<div class="product">
    <div class="product__wrap">

      <div class="product__wrap__gallery">
        <div class="product__wrap__gallery__inner">
  
          <div class="product__wrap__gallery__inner__featured">

            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {%- assign on_sale = true -%}
            {% endif %}
            <div class="[ js-product-imagery-slider ]">
              {% for media in product.media %}
                <div>
                  <img loading="lazy" width="540" height="540" class="[ js-product-slider-item-image ]" src="{{ media.preview_image | image_url: width: 540, height: 540, crop: 'center' }}" srcset="
                    {{ media.preview_image | image_url: width: 540, height: 540, crop: 'center' }} 540w,
                    {{ media.preview_image | image_url: width: 768, height: 768, crop: 'center' }} 768w,
                    {{ media.preview_image | image_url: width: 968, height: 968, crop: 'center' }} 968w,
                    {{ media.preview_image | image_url: width: 1080, height: 1080, crop: 'center' }} 1080w" alt="{{ media.preview_image.alt | escape }}" data-lightbox-image="{{ media.preview_image | image_url: width: 1080, height: 1080, crop: 'center' }}" />
                  </div>
                  {% endfor %} 
            </div>

            {% if on_sale %}
                <span class="product__wrap__gallery__inner__featured__sale">SALE</span>
            {% endif %}
  
       
            <span class="product__wrap__gallery__inner__progresscircle">
              <svg width="100" height="100" viewBox="0 0 100 100">
                <circle class="[ js-gallery-progress-circle ]" stroke-linecap="square" cx="50" cy="50" r="48" stroke="#000" stroke-width="2" fill="none" stroke-dasharray="315" stroke-dashoffset="100" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)" />
              </svg>
            </span>
  
          </div>
  
        </div>
  
      </div>
  
      <div class="product__wrap__details">
        <div class="product__wrap__details__inner [ js-in-view ]">
  
          <h1 class="colour--green-dark">{{ product.title }}</h1>
          <h3 class="[ js-variation-price ] colour--green-dark">{{ product.price | money }}</h3>
          <hr>
          <p class="colour--green-dark">{{ product.description }}</p>
  
          <div class="product__wrap__details__form">
  
         
  
            {%- form 'product', product, id: 'product_form', class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

            <select name="id" id="ProductSelect-{{ section.id }}" {% if product.variants.size == 1 %}style="display:none;" {% else %}class="[ js-choices ][ js-change-variation ]" {% endif %}>
              {% for variant in product.variants %}
              <option value="{{ variant.id }}" {%- if variant == current_variant %} selected="selected" {%- endif -%}>
                {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
              {% endfor %}
            </select>
  
  
            <div class="quantity quantity--inline">
              <a href="#" class="quantity__subtract [ js-change-quantity-inline ]" data-type="subtract">
                {% render 'svg-subtract' %}
              </a>
              <input name="quantity" class="quantity__quantity" value="1">
              <a href="#" class="quantity__add [ js-change-quantity-inline ]" data-type="add">
                {% render 'svg-add' %}
              </a>
            </div>
  
  
  
            <button type="submit" class="button button--yellow [ js-add-to-cart ]">
              {% unless product.available %}
              Sold Out
              {% render 'svg-not-allowed-button' %}
              {% else %}
              Add to Cart
              {% endunless %}
              {% render 'svg-loader' %}
            </button>
  
            {% endform %}
  
          </div>
  
        </div>
      </div>
    </div>
  
  </div>


  {% comment %}
  Product Slider
{% endcomment %}

<div class="sliderAlt" style="background-color: var(--off-white);">
  <div class="sliderAlt__wrap">

    <div class="sliderAlt__wrap__heading [ js-in-view ]">
      <h2 class="colour--green-dark" data-splitting>You may also like...</h2>
      <p><b><a href="/collections/all" class="arrow-link">VIEW ALL PRODUCTS <img src="{{ 'mini-arrow-right.svg' | asset_url }}" width="14" height="22" loading="lazy" /></a></b></p>
    </div>

    <div class="sliderAlt__wrap__slider">

      <div class="sliderAlt__wrap__slider__carousel" id="scroller--{{ section.id }}">

        {% for product in collections.all.products %}

        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
        {%- assign on_sale = true -%}
        {% endif %}

        <div class="sliderAlt__wrap__slider__carousel__item">
          {% if product.media[0] %}
          <a  href="{{ product.url }}" class="sliderAlt__wrap__slider__carousel__item__image">
            <img loading="lazy"
              srcset="{{ product.media[0] | image_url: width: 480, height: 480 }} 480w,
                      {{ product.media[0] | image_url: width: 600, height: 600 }} 600w"
              sizes="(max-width: 600px) 480px,
                     (max-width: 1000px) 600px,
                     1000px"
              src="{{ product.media[0] | image_url: width: 600, height: 600 }}"
              alt="{{ product.media[0].alt | escape }}"
              width="{{ product.media[0].width }}"
              height="{{ product.media[0].height }}">

        {% if on_sale %}
          {% comment %} <span class="collection__grid__item__image__sale">SALE</span> {% endcomment %}
        {% endif %}

        {% if product.available %}
        {% else %}
          {% comment %} <span class="collection__grid__item__image__unavailable">SOLD OUT</span> {% endcomment %}
        {% endif %}

      </a>
    {% endif %}

      <a href="{{ product.url }}" class="collection__grid__item__details">
        <div class="collection__grid__item__details__title">
            <h6 class="colour--green-dark text-center"><strong>{{ product.title | escape }} &nbsp;</strong></h6>
            <p class="colour--green-mid text-center"><b>VIEW PRODUCT</b></p>
          </div>
        </a>
      </div>
      {%- endfor -%}
    
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

<script>
  tns({
    container:"#scroller--{{ section.id }}" ,
    items: 1,
    mouseDrag: true,
    nav: false,
    controls: true,
    slideBy: 1,
    responsive: {
      800: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  });
</script>

<style> 
  .slider--{{ section.id }} .tns-controls button:first-of-type {
    background-image: url({{ 'previous-green-mid.svg' | asset_url }});
    left: -4rem;
  }
  .slider--{{ section.id }} .tns-controls button:last-of-type {
    background-image: url({{ 'next-green-mid.svg' | asset_url }});
    right: -4rem;
  }
</style>
  


  
  <script>
    window.inventories = [];
    {% for variant in product.variants %}
  
    window.inventories[{{ variant.id }}] = {
      'id': {{ variant.id }},
      'quantity': '{{ variant.inventory_quantity | default: 0 }}',
        'price': '{{ variant.price | money }}',
    };
  
    {% endfor %}
  </script>


{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {%- if product.featured_media -%}
        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ product.featured_media | image_url: media_size | prepend: "https:" | json }}
        ], 
      {%- endif -%}
      "description": {{ product.description | strip_html | json }},
      {%- if current_variant.sku != blank -%}
        "sku": {{ current_variant.sku | json }},
      {%- endif -%}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
    </script>