{% comment %}
  Product Slider
{% endcomment %}

<div class="slider tileSlider--{{ section.id }}"">
  <div class="slider__wrap">

    <div class="slider__wrap__heading">
      <h2 class="colour--white">{{ section.settings.heading }}</h2>
      <p><a href="/collections/all">VIEW ALL PRODUCTS</a></p>
    </div>

    <div class="slider__wrap__slider">

      <div class="slider__wrap__slider__carousel" id="tileSlider--{{ section.id }}">

      {%- for product in section.settings.collection.products -%}

        {% assign on_sale = false %}
        {% if product.compare_at_price > product.price %}
        {%- assign on_sale = true -%}
        {% endif %}

        <div class="slider__wrap__slider__carousel__item">
          {% if product.media[0] %}
          <a  href="{{ product.url }}" class="slider__wrap__slider__carousel__item__image">
            <img loading="lazy"
              srcset="{{ product.media[0] | image_url: width: 480 }} 480w,
                      {{ product.media[0] | image_url: width: 800 }} 800w,
                      {{ product.media[0] | image_url: width: 1920 }} 1600w,"
              sizes="(max-width: 600px) 480px,
                     (max-width: 1000px) 800px,
                     1000px"
              src="{{ product.media[0] | image_url: width: 1920 }}"
              alt="{{ product.media[0].alt | escape }}"
              width="{{ product.media[0].width }}"
              height="{{ product.media[0].height }}">

        {% if on_sale %}
          <span class="collection__grid__item__image__sale">SALE</span>
        {% endif %}

        {% if product.available %}
        {% else %}
          <span class="collection__grid__item__image__unavailable">SOLD OUT</span>
        {% endif %}

      </a>
    {% endif %}

      <a href="{{ product.url }}" class="collection__grid__item__details">
        <div class="collection__grid__item__details__title">
            <h6 class="colour--text"><strong>{{ product.title | escape }} &nbsp;</strong></h6>
            <p class="colour--red">{{ product.price | money }}</p>
          </div>
        </a>
      </div>
      {%- endfor -%}
    
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

<script>
  tns({
    container:"#tileSlider--{{ section.id }}" ,
    items: 1,
    mouseDrag: true,
    nav: true,
    controls: true,
    slideBy: 1,
    responsive: {
      800: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  });
</script>

<style>
  .tns-controls button:first-of-type {
    background-image: url({{ 'previous.svg' | asset_url }});
    left: -4rem;
  }
  .tns-controls button:last-of-type {
    background-image: url({{ 'next.svg' | asset_url }});
    right: -4rem;
  }
</style>

{% schema %}
{ 
  "name": "Product Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default" : "You may also like…",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}   
{% endschema %}