{% comment %}
  tileSlider
{% endcomment %}

<!-- -----------------------------------------------------------------
Tile Slider Section
------------------------------------------------------------------ -->
<section class="tileSlider tileSlider--{{ section.id }}">
  <div class="tileSlider__wrap">

      
      <!-- -----------------------------------------------------------------
      Heading
      ------------------------------------------------------------------ -->
      <div class="tileSlider__wrap__heading">
          <h2 class="colour--red">{{ section.settings.heading }}</h2>
      </div>

      <!-- -----------------------------------------------------------------
      Slider
      ------------------------------------------------------------------ -->
      
      <div class="tileSlider__wrap__slider">
              <button class="tileSlider__wrap__slider__prev [ js-tile-slider-prev ]">
                <img src="{{ 'tile-slider-previous.svg' | asset_url }}" width="81" height="27" loading="lazy" />
              </button>
              <button class="tileSlider__wrap__slider__next [ js-tile-slider-next ]">
                <img src="{{ 'tile-slider-next.svg' | asset_url }}" width="81" height="27" loading="lazy" />
              </button>

          <div class="tileSlider__wrap__slider__tray [ js-tile-slider ]">
            {%- for block in section.blocks -%}
                  <div class="tileSlider__wrap__slider__tray__item">
                    {{ block.settings.content }}
                  </div>
                {%- endfor -%} 
          </div>
      </div>
  </div>
</section>


<div class="tileSlider tileSlider--{{ section.id }}">

  <div class="tileSlider__heading">
    <div class="tileSlider__heading__inner">
      <h2 class="colour--white">{{ section.settings.heading }}</h2>
      {{ section.settings.content }}
    </div>
  </div>

  <div class="tileSlider__grid">
    <div class="tileSlider__grid__carousel" id="tileSlider--{{ section.id }}">

    {%- for block in section.blocks -%}
      <div class="tileSlider__grid__carousel__item" id="{{ block.id }}" >
        <div class="tileSlider__grid__carousel__item__heading">
          <h4>{{ block.settings.heading }}</h4>
        </div>
        <div class="tileSlider__grid__carousel__item__content">
          {{ block.settings.content }}
        </div>
        <a href="{{ block.settings.button_link }}" class="tileSlider__grid__carousel__item__link">
          {{ block.settings.button_label }}
        </a>
      </div>
    {%- endfor -%} 
  
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">


<style>
  .tns-controls button:first-of-type {
    background-image: url({{ 'previous.svg' | asset_url }});
    left: -4rem;
  }
  .tns-controls button:last-of-type {
    background-image: url({{ 'next.svg' | asset_url }});
    right: -4rem;
  }
</style>

<script>
  tns({
    container:"#tileSlider--{{ section.id }}" ,
    items: 1,
    mouseDrag: true,
    nav: true,
    controls: true,
    slideBy: 1,
    responsive: {
      800: {
        items: 2
      },
      1000: {
        items: 3
      }
    }
  });
</script>

{% schema %}
{ 
  "name": "tileSlider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Our Promise",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "tileSlider_item",
      "name": "tileSlider item",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Delivery to your doorstep anywhere you are in New Zealand, including rural addresses.</p>" 
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "tileSlider",
      "blocks": [
        {
          "type": "tileSlider_item"
        },
        {
          "type": "tileSlider_item"
        },
        {
          "type": "tileSlider_item"
        }
      ]
    }
  ]
}   
{% endschema %}
  