<div class="banner banner--off-white">
  <div class="bannerSlim__text">
    <div class="bannerSlim__text__constraint">
        <h6>SEARCH RESULTS</h6>
        {% if search.performed %}
        <h1>{{ search.results_count }} results for "{{ search.terms }}"</h1>
        {% else %}
        <h1>Click below to search</h1>
        {% endif %}
        <p>
          <button class="button button--outline [ js-search-again ]">
            Search again
          </button>
        </p>
    </div>
  </div>
</div>


{% paginate search.results by 10 %}

{% if search.performed and search.results_count == 0 %}
{% endif %}

{% if search.performed %}
{% if search.results_count > 0 %}

<section class="collectionList">
  <div class="collectionList__wrap">

    {% for item in search.results %}

    {% if item.image %}
    {%- assign collection_image = item.image -%}
    {% elsif item.products.first and item.products.first.media != empty %}
    {%- assign collection_image = item.products.first.featured_media.preview_image -%}
    {% else %}
    {% assign collection_image = blank %}
    {% endif %}

    <div class="collectionList__wrap__item">

      {% if item.object_type == 'product' %}
      <a href="{{ item.url }}" class="collectionList__wrap__item__image [ js-in-view ]">
        {% unless item.featured_media == null %}
        <img class="[ lazyload ]"src="{{ item.featured_media | image_url: height: 540, width:540 }}"srcset="
      {{ item.featured_media | image_url: height: 540, width:540 }} 540w,
      {{ item.featured_media | image_url: height: 768, width:768 }} 768w,
      {{ item.featured_media | image_url: height: 968, width:968 }} 968w,
      {{ item.featured_media | image_url: height: 1080, width:1080 }} 1080w" alt="{{ item.featured_media.alt | escape }}" />
        {% endunless %}
      </a>
      {% else %}

      <a href="{{ item.url }}" class="collectionList__wrap__item__image [ js-in-view ]">
        {% unless collection_image == blank %}
        <img class="[ lazyload ]"src="{{ collection_image | image_url: height: 540 ,width:540}}"srcset="
    {{ collection_image | image_url: height: 540, width:540 }} 540w,
    {{ collection_image | image_url: height: 768, width:768 }} 768w,
    {{ collection_image | image_url: height: 968, width:968 }} 968w,
    {{ collection_image | image_url: height: 1080 ,width:1080 }} 1080w" alt="{{ collection_image.alt | escape }}" />
        {% else %}
        <img class="[ lazyload ]"src="https:{{ 'placeholder.jpg' | asset_url }}" srcset="
    {{ 'placeholder.jpg' | asset_url }} 540w,
    {{ 'placeholder.jpg' | asset_url }} 768w,
    {{ 'placeholder.jpg' | asset_url }} 968w,
    {{ 'placeholder.jpg' | asset_url }} 1080w" alt="placeholder image" />
        {% endunless %}
      </a>
      {% endif %}

      <p>
        <strong>
          <a href="{{ item.url }}" title="{{ item.title }}">view product</a>
        </strong>
      </p>

    </div>

    {% endfor %}

  </div>
</section>

{% endif %}
{% endif %}

{% endpaginate %}
